.wrapper {
	display: flex;
	justify-content: space-between;
	gap: 92px;
	align-items: center;
	max-width: 1366px;
	position: relative;

	margin: auto;

	height: 100%;
	width: 100%;

	.imgWrap {
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
		pointer-events: none;

		.prevImg {
			max-height: 666px;
			max-width: 662px;
		}
	}
}
